.btn {
  cursor: pointer;
  border-radius: var(--border-radius-primary);
  padding: 14px 23px;
  font-size: var(--font-size-sm);
  line-height: var(--line-height-lg);
  font-weight: var(--font-weight-semibold);
}

.btn-primary {
  border: 1px solid var(--border-color-secondary);
  background-color: var(--background-color-primary);
  color: var(--text-color-secondary);

  &:hover {
    background-color: var(--background-color-dark-grayish-blue);
  }
}

.btn-secondary {
  border: none;
  box-shadow: 0 8px 24px var(--background-color-light-red);
  background-color: var(--background-color-secondary);
  color: var(--text-color-primary);

  &:hover {
    background-color: var(--background-color-light-pink);
  }
}

.btn-contained {
  display: flex;
  justify-content: center;
  gap: 8px;
  border: none;
  border-radius: var(--border-radius-tertiary);
  padding: 16px 83px;
  background-color: var(--background-color-light-red);
  color: var(--text-color-secondary);

  &:hover {
    background-color: var(--background-color-light-red-orange);
  }
}

.btn-confirm {
  padding-left: 67px;
  padding-right: 67px;
}
