.card {
    cursor: pointer;
    background-color: var(--primary-background-color);
    width: 221px;
    border-radius: var(--primary-border-radius);
  }

  .card-product {
    border: 1px solid var(--tertiary-border-color);

    &:hover > .card-header {
      visibility: visible;
    }
  }

  .card-header {
    float: right;
    visibility: hidden;
    padding-top: 10px;
    padding-right: 11px;
  }

  .card-image {
    height: 130px;
    padding: 24px 47px 16px;
  }

  .card-text {
    padding: 0 38px 16px 39px;
    text-align: center;
  }

  .card-name {
    height: 36px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .circle {
    color: var(--gray-background-color);
  }

  .card-desc {
    display: flex;
    gap: 8px;
    justify-content: center;
    padding-top: 8px;
  }

  .card-add-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    border: 2px dashed var(--secondary-border-color);
    padding-top: 111px;
    padding-bottom: 110px;
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-semibold);
    line-height: var(--line-height-lg);
    color: var(--secondary-text-color);
  }

  .card-item {
    border-radius: 50%;
    height: 130px;
    width: 100%;
    object-fit: cover;
  }
