.search-overlay {
  display: flex;
  align-items: center;
  border-radius: var(--border-radius-primary);
  background-color: var(--background-color-tertiary);
  padding-left: 14px;
  width: fit-content;
}

.search-overlay .input-content {
  border: none;
  width: 342px;
}
